<mat-card>
  <mat-card-title>{{ book?.volumeInfo?.title }}</mat-card-title>
  <mat-card-content fxLayout fxLayoutGap="24px">
    <div class="img-wrapper">
      <img [src]="book?.volumeInfo?.imageLinks?.thumbnail" alt="Book without photo" loading="lazy">
    </div>
    <div class="book-info" fxFlex="60%">
      <p>
        <strong>Author(s): </strong>
        <span>{{ bookAuthors }}</span>
      </p>
      <p>
        <strong>Publisher: </strong>
        <span>{{ book?.volumeInfo?.publisher || '...' }}</span>
      </p>
      <p>
        <strong>Published: </strong>
        <span>{{ book?.volumeInfo?.publishedDate | date }}</span>
      </p>
      <p>
        <strong>Description: </strong>
        <span>{{ bookShortedDescription }} <a class="read-more-link" [href]="book?.volumeInfo?.previewLink" target="_blank" rel="noopener">Read more</a></span>
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-chip-list>
      <mat-chip *ngFor="let category of book.volumeInfo.categories">{{ category }}</mat-chip>
    </mat-chip-list>

    <a mat-icon-button [href]="book?.volumeInfo?.previewLink" target="_blank" rel="noopener"> 
      <mat-icon>launch</mat-icon>
    </a>
  </mat-card-footer>
</mat-card>